body {
  font-family: "Roboto", "Poppins", sans-serif;
  margin: 0 auto;
  background-color: #fbfbfb;
  scroll-behavior: smooth;
  /* max-width: 1340px;
  width: 100%; */
}

/* colors: #343434, #003366, #e0e7ef, #fbfbfb , #EFF3F7*/

.wrapper {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 42px;
  line-height: 63px;
  text-transform: uppercase;
}

.header_content {
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.logo_img {
  height: 48px;
  width: 48px;
}

.logo {
  transition: transform 0.5s ease;
  transform-origin: center;
}

.logo:hover {
  transform: scale(1.1) rotate(180deg);
}

.navigation {
  display: flex;
  gap: 56px;
  align-items: center;
}

.navigation_list {
  display: flex;
  gap: 16px;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list_item-link {
  padding: 12px 20px 12px 6px;
  font-weight: 500;
  line-height: 16px;
  font-size: 16px;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.list_item-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -12px;
  width: 100%;
  height: 2px;
  background-color: #003366;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.list_item-link:hover::after {
  transform: scaleX(1);
}

.fa {
  content: "";
  position: absolute;
  right: 4px;
  color: #003366;
  width: 20px;
  height: 20px;
}

.button {
  font-size: 20px;
  line-height: 30px;
  cursor: pointer;
  border-radius: 14px;
  height: 58px;
  transition: background-color 0.5s ease;
}

.login_btn {
  background-color: #003366;
  color: #fff;
  padding: 14px 30px;
  border: 1px solid #003366;
}

.login_btn:hover {
  background-color: #e2e5e7;
  color: #003366;
}

/******************************* welcome section ***************************************/

.welcome {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
  margin-bottom: 50px;
}

.welcome_info {
  background-color: #003366;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 20px;
  padding: 100px 80px;
  transition: 0.5s ease;
}

.welcome_title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 48px;
  line-height: 57.6px;
  color: #fbfbfb;
  text-transform: uppercase;
  margin: 0;
}

.welcome_description {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.welcome_text {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 27px;
  color: #fbfbfb;
}

.welcome_btn {
  width: 185px;
}

.welcome_img {
  background-image: url(./images/img/welcome.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  transition: 0.5s ease;
}

.welcome_img:hover,
.welcome_info:hover {
  transform: scale(1.02);
}

/******************************* advantages section ***************************************/

.advantages {
  background-color: #e0e7ef;
  margin-bottom: 50px;
}

.advantages_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0 53px;
}

.advantages_title {
  color: #003366;
  padding: 30px 0 30px 50px;
  background-color: #fbfbfb;
  border-radius: 16px;
}
.advantages_description {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr 1fr;
}
.adv {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 12px;
  background-color: #fbfbfb;
  border-radius: 16px;
}
.adv_icon {
  width: 64px;
  height: 64px;
}
.adv_title {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #003366;
  word-wrap: break-word;
  text-transform: uppercase;
}
.adv_description {
  color: #343434;
}

/******************************* about section ***************************************/

.about {
  margin-bottom: 100px;
}
.about_content {
  display: flex;
  flex-direction: column;
}
.about_us {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.about_title {
  color: #003366;
}

.about_description {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.about_icon {
  width: 40px;
  height: 40px;
}
.about_text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #343434;
  text-transform: uppercase;
}

.about_team {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.our_team-img {
}
.about_list {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  row-gap: 30px;
}

.about_list > :nth-child(1) {
  grid-column: 1 / -1;
}

.about_list-item {
  background-color: #003366;
  border-radius: 14px;
  padding: 34px;
}

.coaching {
  margin-bottom: 20px;
}

.about_list-item-title {
  color: #fbfbfb;
  text-align: center;
}

.coaching_title {
  font-size: 36px;
  line-height: 54px;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.about_list-item-text {
  font-size: 18px;
  line-height: 27px;
  color: #fbfbfb;
  text-align: center;
}

.coaching_text,
.coaching_title {
  text-align: left;
}

.years {
  display: flex;
  flex-direction: column;
}

/******************************* courses section ***************************************/

.courses {
  margin-bottom: 120px;
}

.courses_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.courses-title {
  color: #003366;
  margin-bottom: 20px;
}

.course {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  border: 1px solid #003366;
  border-radius: 14px;
}
.course-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.course-name {
  display: flex;
  align-items: center;
  gap: 14px;

  color: #003366;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
}
.course-icon {
  width: 60px;
  height: 60px;
}
.course-details-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  color: #343434;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.details-icon {
  width: 40px;
  height: 40px;
}
.course-info {
  display: flex;
  gap: 12px;
}
.info-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #343434;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding: 10px 16px;
  background-color: #eff3f7;
  border-radius: 45px;
}
.info-icon {
  width: 24px;
  height: 24px;
}
.course-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.description-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #003366;
  text-transform: uppercase;
}
.description-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.description-block-title {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: #343434;
}

.description-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.description-list-item {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  font-size: 18px;
  line-height: 27px;
}

.description-icon {
  width: 24px;
  height: 24px;
}

.course-price {
  display: flex;
  gap: 16px;
  align-items: center;
}
.price-label,
.price-value {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #003366;
  text-transform: uppercase;
}
.price-line {
  border: 1px solid #003366;
  height: 40px;
}

.join-button {
  background-color: #003366;
  color: #fbfbfb;
  transition: all 0.5s ease;
  border: 1px solid #003366;
  /* display: inline-block; */
  align-self: flex-start;
  padding: 14px 85px;
  width: auto;
}

.join-button:hover {
  background-color: #e2e5e7;
  color: #003366;
}

/******************************* call section ***************************************/

.call-section {
  background-color: #003366;
  margin-bottom: 50px;
}
.call_content {
  display: flex;
  flex-direction: column;
}
.call-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  padding: 50px 0;
}
.call-text {
  padding: 33px 0;
}
.call-title {
  color: #fbfbfb;
}
.call-description {
  color: #fbfbfb;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  flex-direction: column;
}
.call-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.input-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.call-input {
  padding: 18.5px 14px;
  border-radius: 3px;
}

.call-input::placeholder {
  color: #343434;
}

.call-button {
  align-self: flex-start;
  padding: 14px 30px;
  width: auto;
  color: #003366;
  border: 1px solid #003366;
  transform: all 0.3s ease;
}

.call-button:hover {
  background-color: #003366;
  color: #e2e5e7;
  border-color: #e2e5e7;
}

/******************************* testimonials section ***************************************/

.testimonials-section {
  margin-bottom: 100px;
}

.testomonials-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.testimonials-title {
  color: #003366;
  margin-bottom: 20px;
}
.testimonials-slider {
  display: flex;
  gap: 24px;
}

.testimonial {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px 78px 20px 20px;
  border: 1px solid #003366;
  border-radius: 12px;
}
.testimonial-image {
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.testimonial-text-block {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.testimonial-name {
  font-family: "Poppins";
  font-weight: 500;
  line-height: 30px;
  font-size: 20px;
  color: #343434;
}

.testimonial-role {
  font-size: 16px;
  line-height: 24px;
  color: #6b6b6b;
}

.testimonial-rating {
  display: flex;
}
.testimonial-text {
  font-size: 16px;
  line-height: 24px;
}

.slider-controls {
  padding: 12px 14px;
  border: 1px solid #bfccd8;
  border-radius: 100px;
  width: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  max-width: 220px;
}
.slider-button {
  cursor: pointer;
}

.slider-img {
  height: 32px;
  width: 32px;
  transition: all 0.3s ease;
}

.slider-img:hover {
  transform: scaleX(1.05);
}

.scroll-indicators {
  display: flex;
  gap: 2px;
}

.scroll-indicator {
  width: 13px;
  height: 4px;
  background-color: #c2d1e0;
  border-radius: 20px;
}

.active-indicator {
  width: 24px;
  height: 4px;
  background-color: #003366;
  border-radius: 20px;
}

/******************************* faq section ***************************************/
.faq-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 75px;
}

.faq-title {
  color: #003366;
}

.faq-content {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.faq-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  padding: 40px;
  border: 1px solid #003366;
  border-radius: 16px;
}

.faq-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.faq-line {
  width: 100%;
  height: 1px;
  background-color: #003366;
}

.faq-active {
}
.faq-question {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #343434;
}

.faq-img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* .faq-img:hover {
  fill: red;
} */

.faq-answer {
  font-size: 18px;
  line-height: 27px;
  color: #343434;
}
.question-container {
  display: flex;
  flex-direction: column;
  background-color: #003366;
  padding: 58px 60px;
  border-radius: 14px;
  text-align: center;
  align-items: center;
  gap: 40px;
}

.question-title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: #fbfbfb;
}
.question-line {
  width: 100%;
  height: 1px;
  background-color: #fbfbfb;
}

.question-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.question-input {
  background-color: #fbfbfb;
  border: 1px solid #fbfbfb;
  border-radius: 3px;
  padding: 18.5px 14px;
  color: #343434;
  font-size: 16px;
  line-height: 27px;
}

.question-textarea {
  width: 400px;
  background-color: #fbfbfb;
  border: 1px solid #fbfbfb;
  border-radius: 3px;
  padding: 12px 14px 75px 12px;
  resize: none;
}

.question-input::placeholder,
.question-textarea::placeholder {
  color: #343434;
}

.question-button {
  width: auto;
  color: #003366;
  font-size: 20px;
  line-height: 30px;
  transition: all 0.3s ease;
  border: 1px solid #003366;
  border-color: #003366;
  width: 235px;
}

.question-button:hover {
  background-color: #003366;
  color: #e2e5e7;
  border-color: #e2e5e7;
}

/******************************* footer section ***************************************/
.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
}

.footer-logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.license {
  font-size: 16px;
  line-height: 24px;
  color: #003366;
}
.footer-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.footer-item {
}
.foter-link {
  color: #343434;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}
